<div class="container">
  <div class="box">
    <p class="title">Search</p>
    <form [formGroup]="searchForm" (ngSubmit)="search()" class="has-text-centered">
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="First Name" formControlName="firstName" />
        </div>
      </div>

      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Last Name" formControlName="lastName" />
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <!-- class="input is-success" -->
          <!-- class="input is-danger" -->
          <input type="email" placeholder="Email" class="input" formControlName="email" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <!-- <i class="fas fa-check"></i> -->
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <!-- <p class="help is-success">This email is available</p> -->
        <!-- <p class="help is-danger">This email is invalid</p> -->
      </div>

      <div class="field">
        <label class="label">Role</label>
        <div class="control">
          <div class="select">
            <select formControlName="role">
              <option value="">All roles</option>
              <option value="student">Student</option>
              <option value="mentor">Mentor</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Grade</label>
        <div class="control">
          <div class="select">
            <select formControlName="grade">
              <option value="">All grades</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
        </div>
      </div>

      <!-- <div class="field">
        <label class="label">Notes</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div> -->

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Search</button>
        </div>
        <!-- <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div> -->
      </div>
    </form>
  </div>
  <div *ngIf="queries; else noQueriesMessage">
    <a class="box" *ngFor="let qry of queries" routerLink="user/{{ qry.id }}">
      <p class="has-text-weight-semibold">{{ qry.firstName }} {{ qry.lastName }}</p>
      <div>
        <span class="tag is-warning is-capitalized">{{qry.role}}</span>
        <span class="tag is-info" *ngIf="qry.grade">Grade {{qry.grade}}</span>
      </div>
    </a>
  </div>
  <ng-template #noQueriesMessage>
    <p class="">No users were found.</p>
  </ng-template>
</div>
